/*
 * -------------------------------------------------
 *  genome-annotation Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

params.nf_required_version = "0.32.0" // Minimum version of nextflow required
params.version = "0.1.0" // Pipeline version

/**********************
   Default parameters
 ***********************/

 /***************
   Profiles 
 ***************/
 profiles {
	standard {
		includeConfig 'conf/base.config'
		includeConfig 'conf/programs.config'
	}
 }