/*
 * -------------------------------------------------
 *  genome-annotation Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

params.nf_required_version = "0.32.0" // Minimum version of nextflow required
params.version = "0.1.0" // Pipeline version

/**********************
   Default parameters
 ***********************/
params.annotation = "test/Dsargus_annotation_scaffold4_cov173.gff3"
params.genome = "test/scaffold4_cov173.fa"
params.busco_db = "$IKMBREF/busco/current/metazoa_odb9"
params.augustus_sp = "human"

 /***************
   Profiles 
 ***************/
 profiles {
	standard {
		includeConfig 'conf/base.config'
		includeConfig 'conf/programs.config'
    includeConfig 'conf/slurm_ikmba.config'
	}
 }