// Job paramaters to set for this environment

// Missing: Java, Nextflow

process {

	withName:StableIDs {
		conda = "perl-bioperl"
		memory = { 1.GB * task.attempt }
		time = { 10.h * task.attempt }	
	}

  withName:GetProteins {
		conda = "perl-bioperl"
		memory = { 1.GB * task.attempt }
		time = { 10.h * task.attempt }	
	}

  withName:Length {
		conda = "python=2.7"
	}

  withName:GetCDS {
	  conda = "perl-bioperl"
  	  memory = { 1.GB * task.attempt }
	  time = { 10.h * task.attempt }
  }

  withName:Busco {
	  conda = "busco"
	  cpus = { 10 * task.attempt }
	  memory = { 50.GB * task.attempt }
	  time = { 48.h * task.attempt }
  }

}