// Job paramaters to set for this environment

// Missing: Java, Nextflow

process {

	withName:StableIDs {
		conda = "perl-bioperl"
		cpus = { 1 * task.attempt }
		memory = { 1.GB * task.attempt }
		time = { 1.h * task.attempt }	
	}

  withName:GetProteins {
		conda = "perl-bioperl"
		cpus = { 1 * task.attempt }
		memory = { 1.GB * task.attempt }
		time = { 1.h * task.attempt }	
	}

  withName:Length {
		conda = "python=2.7"
	}
  withName:GetCDS {
	  conda = "perl-bioperl"
  }

}