// Job paramaters to set for this environment

// Missing: Java, Nextflow

process {

	withName:___ {
		module = [ '___' ]
		cpus = { 1 * task.attempt }
		memory = { 10.GB * task.attempt }
		time = { 24.h * task.attempt }	
	}

    withName:___ {
		conda = "___=___"
		cpus = { 1 * task.attempt ) }
		memory = { 10.GB * task.attempt }
		time = { 24.h * task.attempt }	
	}
}